
:root {
    --base00: #1C2433;
    --base01: #1C2433;
    --base02: #3D364D;
    --base03: #5F5266;
    --base04: #827A99;
    --base05: #F2FFF2;
    --base06: #F2FFF2;
    --base07: #F2FFF2;
    --base08: #5F5266;
    --base09: #B3747E;
    --base0A: #F2CA79;
    --base0B: #E6E6A1;
    --base0C: #69A3BF;
    --base0D: #86BFB6;
    --base0E: #827A99;
    --base0F: #8C6282;
  }