/* Override this file to customise the theme's CSS for your site */
.page__logo {
    /*font-weight: bold;*/
}

.page__logo-inner:before {
    content: "";
}

.page__logo-inner:after {
    content: "@blog:~$";
}

/* Other typographic elements */
hr {
    border: 0;
    margin-bottom: 1.5rem;
}

hr:after {
    content: '--------';
    color: var(--muted);
}

.paginator {
    width: 100%;
    text-align: center
}
.paginator a {
    padding: 10px;
}